// Colours
$color-primary: #55c57a;         // rgb(85, 197, 122)
$color-primary-light: #7ed56f;   // rgb(126, 213, 111)
$color-primary-dark: #28b485;    // rgb(40, 180, 133)

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Grid temporary variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;